body {background-color:#fff;color:#000;font-family:serif;font-size:100%;}

h1,h2,h3 {font-family:sans-serif;text-decoration:underline;}
h1 {font-size:120%;}
h2 {font-size:115%;}
h3 {font-size:110%;}

a {text-decoration:underline;color:navy;}


#menu, #paticka, .hledani, #logo, #logo2, #navi {display:none;}
